
/* Font loader ------------------*/

@font-face {
    font-family: 'CalibreWeb-Regular';
    src: url('../fonts/CalibreWeb-Regular.eot');
    src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibreWeb-Bold';
    src: url('../fonts/CalibreWeb-Bold.eot');
    src: url('../fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'CalibreWeb-Black';
    src: url('../fonts/CalibreWeb-Black.eot');
    src: url('../fonts/CalibreWeb-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* GLOBAL  ---------------------------------------
--------------------------------------------------*/


/* Links  ------------------*/

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
}

/* Typography ------------------*/


body {
    font-family: 'CalibreWeb-Regular';
    font-size: 16px;
}

/* Navigation  ------------------*/

.main-navigation {
    /*position: fixed;*/
    top: 0px;
    background-color: #fff;
    z-index: 10;
}


/* Footer  ------------------*/

.site-footer {
    min-height: 10vh;
    background-color: red;
}



/* LISTING PAGES  ---------------------------------------
--------------------------------------------------*/


/* Items  ------------------*/

.whats-on {
   text-align: left;
}

.whats-on article {
    margin-bottom: 1px;
    position: relative;
}

.whats-on article.category-events {
    width: 50%;
}

.poster {
    width: 100%;
    height: 0;
    padding-bottom: 27%;
    overflow: hidden;
    background-size: contain !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.poster:hover {
    background-image: none !important;
    }

.entry-header {
    font-family: 'CalibreWeb-Black';
    font-size: 2em;
    position: absolute;
    top: 0;
}

/* Single Items  ------------------*/

.participant .portrait {

}

/* Single Pages  ------------------*/

.main-gallery{
    /*height: 100px;*/
}




/* Media ------------------*/

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: #edeae7;
}

.video > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.gallery-cell {
  height: 600px;
  margin-right: 10px;
}

.gallery-cell img {
  height: 100%;
  width: auto;
}




/* Footer ------------------*/

.page-footer .copyright {
    text-align: right;
}







/* Media Queries ------------------*/


/* Large (as per framework.css) */

@media screen and (min-width: 800px) {
}

/* Medium (as per framework.css) */

@media screen and (min-width: 600px) {
}


