
/* Font loader ------------------*/

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-Regular.eot');
    src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-Bold.eot');
    src: url('../fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}




@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreWeb-#000000.eot');
    src: url('../fonts/CalibreWeb-#000000.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CalibreWeb-#000000.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


/* References  ---------------------------------------
--------------------------------------------------*/

/*
Light Grey 
color: #ddd;*/

/*
Medium Grey 
color: #a3a3a3;*/




/* GLOBAL  ---------------------------------------
--------------------------------------------------*/


/* Links  ------------------*/

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #a3a3a3;
}

.button {
    border: 1px solid #ddd;
}

/* Typography ------------------*/


body {
    font-family: 'Calibre', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Calibre', sans-serif;
    font-weight: 700;
}

h1{}

h2{}

h3{}

h4{}

/* Navigation  ------------------*/

.header-menu {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
}

.header-menu ul li a{
    padding: 0 0.5em;
    line-height: 3em;
}

.main-nav {
    font-size: 1.25em;
    border-right: 1px solid #ddd;
}

.sub-nav {
    float: right;
}

.sub-nav-menu {
    padding-right: 0.5em;
}

.lang-nav {
    text-transform: capitalize;
    border-left: 1px solid #ddd;
    padding: 0 0.5em;
}

.lang-nav .current-lang a{
    color: #a3a3a3;
}



/* Footer  ------------------*/

.site-footer {
    margin-top: 2em;
}

.site-footer > * {
    border-top: 1px solid #ddd;
    padding: 2em;
}

.site-footer p, .site-footer h4 {
    margin-bottom: 1em;
}

.address {
    margin-bottom: 2em;
}

.social {
    text-align: center;
}

.icon{
    height: 2em;
    width: 2em;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


    a.instagram .icon{
        background-image: url('../img/instagram.svg');
    }

    a.twitter .icon{
         background-image: url('../img/twitter.svg');
    }

    a.facebook *{
        background-image: url('../img/facebook.svg');
    }

    a.trip-advisor .icon{
        background-image: url('../img/tripadvisor.svg');
    }

    a.youtube .icon{
        background-image: url('../img/youtube.svg');
    }

.sponsor img {
    width: auto;
    height: 5em;
    margin: 0px auto;
}


/* PAGES  ---------------------------------------
--------------------------------------------------*/

/* Feature boxes  ------------------*/

.feature-box {
display: block;
}

    .feature-box.small {
    }


/* LISTING PAGES  ---------------------------------------
--------------------------------------------------*/


/* Items  ------------------*/

.whats-on {
   text-align: left;
}

.whats-on article {
    margin-bottom: 1px;
    position: relative;
}

.whats-on .category-events {
    width: 50%;
}

.poster {
    width: 100%;
    height: 0;
    padding-bottom: 27%;
    overflow: hidden;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.category-events .poster {
     background-attachment: scroll !important;
}

.poster:hover {
    }

.entry-header {
    max-width: 50%;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 1.25em;
}

.entry-header h1 {
    font-size: 2em;
    border: 2px solid #fff;
    padding: 0 0.5em ;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.category-events .entry-header h1 {
    font-size: 1.25em;
}

/* Single Items  ------------------*/

.participant .portrait {

}

/* Single Pages  ------------------*/

.main-gallery{
    /*height: 100px;*/
}




/* Media ------------------*/

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: #edeae7;
}

.video > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.gallery-cell {
  height: 600px;
  margin-right: 10px;
}

.gallery-cell img {
  height: 100%;
  width: auto;
}









/* Media Queries ------------------*/


/* Large (as per framework.css) */

@media screen and (min-width: 800px) {
}

/* Medium (as per framework.css) */

@media screen and (min-width: 600px) {
}


